{% extends "layout.html" %} {% block content %}
<h1>errors</h1>

{% if form.errors %}
<div class="alert alert-danger">
  <strong>Error!</strong> Please correct the following errors:
  <ul>
    {% for field, errors in form.errors.items %} {% for error in errors %}
    <li style="color: red">{{ error }}</li>
    {% endfor %} {% endfor %}
  </ul>
</div>
{% endif %} {% endblock %}
<!-- <form enctype="multipart/form-data" method="post" class="product-form">
  {% csrf_token %}

  <div class="form-group">
    <label for="sku">SKU</label>
    {{ form.sku }} -->
<!-- <input type="text" id="sku" name="sku" placeholder="Enter SKU" required />
  </div>

  <div class="form-group">
    <label for="name">Product Variant Name</label> -->
<!-- {{ form.name }} -->
<!-- <input
      type="text"
      id="name"
      name="name"
      placeholder="Enter name"
      required
    />
  </div>

  <div class="form-group">
    <label for="price">Product Variant Price</label> -->
<!-- {{ form.price }} -->
<!-- <input
      type="number"
      id="price"
      name="price"
      placeholder="Enter price"
      step="0.01"
      required
    />
  </div>

  <div class="form-group">
    <label for="details">Product Variant Details</label> -->
<!-- {{ form.details }} -->
<!-- <textarea
      id="details"
      name="details"
      placeholder="Enter details"
    ></textarea>
  </div>




  <div class="form-group">
    {{ form.input_data.label_tag }} {{ form.input_data }} {% if
    form.input_data.errors %}
    <div class="text-danger">{{ form.input_data.errors }}</div>
    {% endif %}
  </div>

  <div class="form-group">
    <button onclick="submitVariantForm()">Insert Variant</button>
    <input type="submit" value="Submit" /> -->
<!-- </div>
</form> -->
