{% extends "layout.html" %} {% block content %}
<h1>Insert Product Variant</h1>
<form enctype="multipart/form-data" method="post">
  {% csrf_token %}
  <div class="">
    <label for="sku">SKU</label>
    <input type="text" name="sku" placeholder="Enter SKU" required />
  </div>
  <br />
  <div class="">
    <label for="name">Product Variant Name</label>
    <input type="text" name="name" placeholder="Enter name" required />
  </div>
  <br />
  <div class="">
    <label for="price">Product Variant Price</label>
    <input
      type="number"
      name="price"
      placeholder="Enter price"
      step="0.01"
      required
    />
  </div>
  <br />
  <div class="">
    <label for="details">Product Variant Details</label>
    <textarea name="details" placeholder="Enter details"></textarea>
  </div>
  <br />
  <div class="">
    <label for="product">Product</label>
    <select name="product" required>
      <option disabled selected>Select product</option>
      {% for product in products %}
      <option value="{{ product.id }}">{{ product.name }}</option>
      {% endfor %}
    </select>
  </div>
  <br />

  <input type="submit" value="Submit" />
</form>
<br />
<a href="{% url 'home' %}">Home</a>
{% endblock %}
